/* Noto Sans Font Faces */
@font-face {
  font-family: "Noto Sans";
  src: url("assets/Fonts/Noto_Sans/static/NotoSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("assets/Fonts/Noto_Sans/static/NotoSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("assets/Fonts/Noto_Sans/static/NotoSans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("assets/Fonts/Noto_Sans/static/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("assets/Fonts/Noto_Sans/static/NotoSans-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("assets/Fonts/Noto_Sans/static/NotoSans-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Layout */
  --sidebar-width: 250px;
  --sidebar-collapsed-width: 64px;
  --header-height: 60px;

  /* Colors */
  --primary-color: #2a2a2a;
  --primary-light: #484848;
  --secondary-color: #a2d2ff;
  --bg-color: #fef7fb;
  --text-color: #262626;
  --text-light: #4c4c4c;
  --border-color: #f0e6f5;
  --hover-bg: #ffeef6;

  /* Transitions */
  --transition-speed: 0.3s;

  /* Shadows */
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-family: "Noto Sans", system-ui, sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  font-family: "Noto Sans", system-ui, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-weight: 700 !important;
  text-transform: capitalize;
  padding: 8px 20px !important;
}

input[type="date"].form-control {
  color: var(--text-color) !important;
}

.card {
  border: none;
  border-radius: 10px;
}

a:hover {
  text-decoration: none !important;
}

.btn {
  font-weight: 500 !important;
}


